body {
  background-color: bisque;
}

.container-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}

.header-profil {
  order: 1;
  display: flex;
  flex-direction: row;
  background-color: rgb(12, 107, 107);
  border: 0;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  height: 150px;
}

.header-profil > .header-profil-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  color: bisque;
  margin-top: 1em;
  margin-left: 1em;
}

.header-profil > .header-profil-left > div{
  margin-bottom: 10px;
}

.header-profil > .header-profil-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: bisque;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
}

.header-profil > .header-profil-right > .list-follows {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-right: 40px;
  width: 30%;
}

.header-profil > .header-profil-right > .list-follows button {
  margin-left: auto;
  background-color: transparent;
  border: 0;
  color: bisque;
}

.header-profil > .header-profil-right > .button-follow-disabled {
  width: 0;
  height: 0;
  border: 0;
  color: transparent;
  background-color: transparent;
  font-size: 0;
}

.header-profil > .header-profil-right > .button-follow {
  width: 30%;
  height: 30%;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  color: bisque;
  background-color: rgb(57, 52, 121);
}

.header-profil > .header-profil-right > .button-follow:hover {
  outline: none;
  background-color: bisque;
  color:  rgb(12, 107, 107);
}

.list-follows-list {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 12%;
}

.list-following {
  order: 2;
  margin-right: auto;
  width: 100%;
  color: azure;
}

.list-follower {
  order: 1;
  margin-left: auto;
  width: 100%;
}
.title{
  margin-top: 10px;
  margin-left: 80px;
  text-transform: uppercase;
  font-weight: bold;
}
.list-follows-list * {
  text-decoration: none;
  color: rgb(57, 52, 121);
}

.mytweets-profil {
  order: 3;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  width: 100%;
  margin-bottom: 150px;
}

.mytweets-profil > .title_Tweets {
  order: 1;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(12, 107, 107);
}

.list-follower > button, .list-following > button{
  margin-top: 30px;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(12, 107, 107);
  color: white;
  text-transform: uppercase;
}

.list-follower > button:hover, .list-following > button:hover{
  outline: none;
  background-color: rgb(211, 209, 209);
  color:  rgb(12, 107, 107);
}